<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO</title>
</head>
<body>
    <div style="width:1000px;">

<span style="color:red";"font-weight:700;">live</span>
<h1 Style="text-align:left;">Why are Srinagar’s traditional livelihoods struggling to survive? | Explained</h1>
    <p style="text-align:left;""font-weight:700;">“If paradise is to be found on earth, Kashmir is it.” Yet today, Kashmir’s paradise is fraying — and in Srinagar, we find the fault-lines of a regional economy at a crossroads: between beauty and breakdown; between traditional livelihoods and externally imposed growth models. Srinagar is facing mounting ecological stress, weakening traditional sectors, and the after-effects of governance disruptions since the dilution of Article 370. Wetland loss, supply-chain breakdowns, urban sprawl, and joblessness have intensified economic fragility.
</p>
</div>
</body>
</html>